<?xml version="1.0" encoding="utf-8"?>
<launch>
  <param name="/joy_node/dev_name" value="Microsoft X-Box 360 pad" />
  <node name="locomotion_controller" pkg="locomotion_controller" type="locomotion" output="screen"/>
  <node name="joy_node" pkg="joy" type="joy_node" >
  </node>
  <node name="joystick" pkg="joy_stick" type="joystick.py" />
</launch>


