<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="Ture" />
  <param
    name="robot_description"
    textfile="$(find dog_sim)/urdf/big_dog_fixed.SLDASM.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find dog_sim)/urdf.rviz" />
</launch>
